<div style="text-align:center">
    <br>
    <br>
    <h2>Ahumados San Agustin</h2>
    <br>
</div>
<div class="container" style="text-align:center">
    <div class="jumbotron col-md-6 center" >
        <div class="row" style="text-align:center" >
            <div class="col center">
                    <div class="form-group center">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" style="text-align:center" id="email">
                    </div>
                    <div class="form-group center">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" style="text-align:center" id="password">
                    </div>
                    <button type="button" class="btn btn-primary" (click)='iniciar()'>Iniciar</button>
            </div>
        </div>
    </div>
</div>       
